@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.body_wrap {position: relative; width: 100%; height: 100%; background-color: #4580eb; line-height: 1.2;}

.hidden{display: none !important;}

.wrapper{padding: 8% 4% 0; display: flex; flex-direction: column; gap: 60px;}

.title_box{display: flex; align-items: flex-end; justify-content: space-between;}
.title_box .title{font-size: 80px; font-weight: 600; line-height: .85; font-family: 'Blinker', sans-serif;}
.title_box > div{display: flex; align-items: center; gap: 8px;}
.title_box .subBtn{font-size: 36px; display: inline-block; font-family: 'Blinker', sans-serif; position: relative; z-index: 0;}
.title_box .subBtn:before{content:''; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: #000; transition: .4s; z-index: -1;}
.title_box .subBtn:hover{transition: .4s;}
.title_box .subBtn:hover:before{height: 100%; transition: .4s; background-color: #FFFF00;}
.title_box .subBtn.active:before{height: 100%; background-color: #FFFF00;}

.content_wrap{position: relative; display: flex; flex-wrap: wrap; gap: 32px; justify-content: space-between;}
.content_container{width: calc(25% - 24px);}
.img_box{width: 100%; margin-bottom: 20px; overflow: hidden; transition: .4s; position: relative; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.2);}
.img_box{transition: .4s; border: 8px solid #ffff00;}
.img_box img{height: 100%; position: relative; object-fit: cover; width: 100%;}
.img_box.rideusImg1 img{object-position: right;}
.img_box::before, .img_box::after{display: none;}
.content_container:hover .img_box::before{position: absolute; bottom: 12px; left: 0; width: 100%; display: block; color: #fff; font-size: 20px; font-weight: 600; font-family: 'Noto Sans KR', sans-serif; z-index: 2; text-align: center; box-sizing: border-box;  transition: .4s;}
.content_container:hover .img_box::after{position: absolute; content: ''; top: 0; left: 0; width: 100%; display: block; height: 100%; background-color: rgba(0, 0, 0, 0.2); z-index: 1;}
.content_container:hover .img_box img{transform:scale(1.5); transition: .4s; }

.rideusImg1:before{content:'Publishing'}
.rideusImg4:before{content: 'Publishing';}
.friezeImg:before{content: 'Publishing';}
.minmiImg:before{content: 'Publishing';}
.nscsImg:before{content: 'Publishing';}
.nbbImg:before{content: 'UIUX Design';}
.knbImg:before{content: 'Publishing';}
.edImg:before{content: 'Editorial Design';}

.textBox{display: flex; flex-direction: column; gap: 12px;}
.textBox p{font-family: 'Noto Sans KR', sans-serif;}
.textBox .name{font-size: 24px; font-weight: bold; word-break: keep-all;}
.textBox .describe{font-size: 18px; font-weight: 300; line-height: 1.4;}
.textBox .describe b{font-weight: bold;}
.contribution{display: flex;flex-direction: column; gap: 4px;}
.contribution.describe1{}
.cell_box{display: flex; flex-direction: column; gap: 4px;}
.cell_box b{width: 72px;  font-size: 16px;}
.cell_box div{display: flex; align-items: center; gap: 4px;}
.cell_box div .cell {width: 12px; height: 12px; background-color: rgba(255,255,255,.2); border: 1px solid #fff; border-radius: 2px; display: inline-block;}
.cell_box div .colorCell{background-color: #fff;}
.icon_box img{display: inline-block; width: 28px; height: 28px; margin-right: 4px;}
.icon_box img:last-child{margin-right: 0;}
.textBox a{font-family: 'Blinker', sans-serif; padding: 8px; margin-top: 8px; font-size: 24px; border: 2px solid #000; transition: .4s; width: max-content;}
.textBox a:hover{background-color: #000; color: #fff; transition: .4s;}
.textBox a br{display: none;}

.titleBottom{position: relative;}
.profileBtn{display: block; align-items: center; justify-content: center; width: 400px; height: 400px; margin: 0 auto; text-align: center;}
.rotateText{font-family: 'Blinker', sans-serif; font-size: 40px; font-weight: 600;}
.rotateSmile{position: absolute; top: calc(50% - 104px); left: calc(50% - 102px); width: 140px; height: 140px; animation: rotate_image 6s linear infinite;}
@keyframes rotate_image{
    100% {transform: rotate(360deg);}
}


.profile_wrap {position: relative;}
.profilecont {padding: 20px; margin-bottom: 10px; display: flex; flex-direction: column; justify-content: flex-end;}
.profilecontfull{padding:20px; margin-bottom: 10px; display: flex; justify-content: flex-end;}
.profilecont{border-right: 1px solid rgba(0, 0, 0, 0.2); height: 100%;}
.profilecontfull{border-top: 1px solid rgba(0, 0, 0, 0.2);}
.profilecontfull:first-child{height: 40%;}
.profilecontfull:last-child{height: 60%;}
.profileTop {width: 100%; height: 40%; display: flex; justify-content: space-between; align-items: top;}
.profilephoto{width: 20%;}
.profileName, .profileContact{width: 40%;}
.profileContact{border-right: none;}
.profileName h2{font-size: 36px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;}
.profileContact h2{font-size: 36px; font-family: 'Blinker', sans-serif; font-weight: 600;}
.profileName p, .profileContact p{font-size: 20px;  font-family: 'Noto Sans KR', sans-serif; margin-top: 10px;}
.profileBottom{height: 60%;}
.profilecontfull h2{display: inline-block; width: 20%; font-size: 36px; font-family: 'Blinker', sans-serif; font-weight: 600;}
.pcfBox{display: inline-block; width: 80%;}
.profileSkill{display: flex; justify-content: space-between;}
.pbBox{width: 60%;}
.pbBox i{display: inline-block; margin-right: 20px; font-size: 115px;}

.designBox{width: 40%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.designBox span{display: inline-block; margin-right: 10px; margin-bottom: 10px; text-align: center; width: 165px; border: 3px solid #000; border-radius: 55px; font-size: 20px; padding: 12px 0; font-weight: 600; font-family: 'Noto Sans KR', sans-serif;}
.designBox span:nth-child(even){margin-right: 0;}
.designBox span:nth-child(3), .designBox span:nth-child(4){margin-bottom: 0;}
.profileCareer div{margin-bottom: 12px;}
.profileCareer div:last-child{margin-bottom: 0;}
.profileCareer > div br{display: none}
.careerYear{font-size: 32px; font-weight: 600; margin-bottom: 10px; font-family: 'Noto Sans KR', sans-serif;}
.careerJob{font-size: 20px; font-family: 'Noto Sans KR', sans-serif;}



    