header {
  background-color: none;
  width: 100%;
  min-width: 1800px;
  padding: 20px 5% 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 30;
  height: 90px;
}
header:before {
  display: none;
}
.subTitlebox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  padding: 20px;
  background-color: #000;
  color: #fff;
}
.subHomebtn h1 {
  display: inline-block;
  font-size: 2em;
}
.subHomebtn span {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-size: 20px;
}
.subMenu {
  position: relative;
  left: -2.5%;
}
.subMenu_list {
  display: inline-block;
  padding: 0 20px;
}
.subMenubtn {
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
  display: block;
  position: relative;
}
.subMenu_active:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
  color: #000;
  width: calc(100% + 20px);
  height: 26px;
  z-index: 0;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #fff;
}
.subTitle_right {
  font-size: 20px;
}
main {
  width: 100% !important;
  min-width: 1800px !important;
  height: calc(100% - 123px) !important;
  padding: 0 5% 0 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subContentbox {
  width: 100%;
  height: calc(100% - 43px);
  border: 3px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 846px;
}

.swiper-slide {
  flex-direction: column;
}
.editDescription {
  margin-top: 20px;
}
.editName {
  font-family: "Noto Serif KR", serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.editYear {
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
  margin-right: 20px;
}
.editSize {
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
  margin-left: 20px;
}
.editSwiper_inner {
  width: 90% !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: none !important;
  content: "" !important;
}
.editSwiper_next:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
.editSwiper_next:before {
  content: "";
  position: absolute;
  right: -5px;
  top: 15px;
  width: 45px;
  height: 1px;
  background-color: #000;
}
.editSwiper_prev:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.editSwiper_prev:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 15px;
  width: 45px;
  height: 1px;
  background-color: #000;
}

.editinnerSwiper_next:after {
  display: none;
}

.editinnerSwiper_prev:after {
  display: none;
}
.editinnerSwiper_navi {
  font-size: 14px;
  font-family: "Noto Sans KR";
  color: #000;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: block;
  position: absolute;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  box-sizing: border-box;
}

.editBlobbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1800px;
  height: calc(100% - 58px);
  z-index: -2;
  padding-top: 58px;
  overflow: hidden;
  min-height: 969px;
  box-sizing: border-box;
}
.blob {
  display: block;
  background-size: 1600% 1600%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: transform 50s ease-in-out infinite both alternate,
    movement 40s ease-in-out infinite both;
  position: absolute;
}
.blob1 {
  background-color: #b983ff;
  box-shadow: 10px 30px 37px 37px #8843f2 inset;
  width: 40vh;
  height: 40vh;
  bottom: -5%;
  left: -8%;
}
.blob2 {
  background-color: #94b3fd;
  box-shadow: 10px 30px 37px 37px #548cff inset;
  width: 40vh;
  height: 40vh;
  left: 31%;
  bottom: 10%;
  z-index: -3;
  opacity: 50%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.blob3 {
  background-color: #b7e6ff;
  box-shadow: 10px 30px 37px 37px #b2b9f8 inset;
  width: 40vh;
  height: 40vh;
  bottom: -8%;
  right: 0;
}
.blob4 {
  background-color: #99feff;
  box-shadow: 10px 30px 37px 37px #77e4d4 inset;
  width: 20vh;
  height: 20vh;
  right: 31%;
  bottom: 10%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.blob5 {
  background-color: #94daff;
  box-shadow: 10px 30px 37px 37px #998ceb inset;
  width: 20vh;
  height: 20vh;
  bottom: 20%;
  left: 15%;
}
.blob6 {
  background-color: #93ffd8;
  box-shadow: 10px 30px 37px 37px #77e4d4 inset;
  width: 30vh;
  height: 30vh;
  left: 0;
  bottom: 27%;
  z-index: -5;
  opacity: 50%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.blob7 {
  background-color: #96baff;
  box-shadow: 10px 30px 37px 37px #7c83fd inset;
  width: 30vh;
  height: 30vh;
  left: 15%;
  bottom: -3%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 60%;
  z-index: -6;
}
.blob8 {
  background-color: #77acf1;
  box-shadow: 10px 30px 37px 37px #1cc5dc inset;
  width: 15vh;
  height: 15vh;
  bottom: 32%;
  right: 5%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 85%;
}
.blob9 {
  background-color: #e4fbff;
  box-shadow: 10px 30px 37px 37px #97e5ef inset;
  width: 30vh;
  height: 30vh;
  bottom: -14%;
  right: 20%;
}
.blob10 {
  background-color: #fcc8f8;
  box-shadow: 10px 30px 37px 37px #eab4f8 inset;
  width: 100vh;
  height: 80vh;
  left: 3%;
  bottom: -40%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 60%;
  z-index: -7;
}
.blob11 {
  background-color: #cffffe;
  box-shadow: 10px 30px 37px 37px #a6f6f1 inset;
  width: 100vh;
  height: 80vh;
  right: 3%;
  bottom: -40%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  z-index: -8;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    transform: translate(10%, 10%);
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    transform: translate(25%, 15%);
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    transform: translate(15%, 20%);
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    transform: translate(15%, 25%);
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    transform: translate(25%, 15%);
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    transform: translate(20%, 15%);
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    transform: translate(10%, 10%);
  }
}
