/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&display=swap");
@font-face {
  font-family: "sandol neo M";
  src: url("../font/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "sandol neo B";
  src: url("../font/AppleSDGothicNeoB.ttf");
}
@font-face {
  font-family: "SB Eogro M";
  src: url("../font/SB\ 어그로OTF\ M.otf");
}

/* reset */
@import "reset.css";

/* component */

/* screen */
/* @import "screen/main.css";
@import "screen/editorial.css"; */

/* html,
body {
  position: relative;
  height: 100%;
} */
body {
  font-family: "Prata", serif, "Noto Sans KR", sans-serif, "Noto Serif KR",
    serif, "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, "sandol neo M", "sandol neo B", "SB Eogro M";
  width: 100%;
  min-width: 1800px;
  height: 100vh;
  min-height: 937px;
  overflow: hidden;
}
header {
  width: 100%;
  min-width: 1320px;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
